<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{PAGE_TITLE}}</title>
    <style>
{{STYLE}}
    </style>
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header--left">
          <h1>{{NAME}}</h1>
          <h4>{{TITLE}}</h4>
        </div>
        <div class="header--right">
          {{CONTACT}}
        </div>
      </header>

      <section class="section">
        <h4>Summary</h4>
        <p class="summary">{{SUMMARY}}</p>
      </section>

      <section class="section">
        <h4>Core Skills</h4>
        {{SKILLS}}
      </section>

      <section class="section">
        <h4>Experience</h4>
        {{EXPERIENCE}}
      </section>

      <section class="section section--tail">
        {{PROJECTS}}
        {{EDUCATION}}
      </section>
    </div>
  </body>
</html>
